* {
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
}

/* Common Shared Style */
.btn-primary {
    padding: 16px 30px;
    background-color: #FF5400;
    color: #fff;
    border-radius: 8px;
    border: 0;
    font-weight: 800;
}

.btn-primary:hover {
    background-color: #ff1900;
    transition: 0.2s;
    cursor: pointer;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.section-subtitle {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.section-description,
.section-description li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1.5rem;
}

.color-text {
    color: #FF5400;
}

.brand-name {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}



/* Header Style */
header {
    max-width: 1200px;
    margin: auto;
    /* padding: 0 20px; */
    border: 1px solid red;

}

/* Navigation Menu Style */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
}

/* ==========Main Section Styles========== */
main {
    max-width: 1200px;
    /* display: flex; */
    margin: auto;
    border: 1px solid red;


}

/* Banner Section Style */
.banner-section {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./Images/header-banner.png');
    background-repeat: no-repeat;
    padding: 105px 185px;
    text-align: center;
    margin: 50px auto;
    /* background-position: center; */
    /* background-size: cover; */
    border-radius: 16px;


}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
    padding: 0 115px;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 26px;
}


.search-box-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.search-box-container input[type="text"],
select {
    padding: 16px;
    border-radius: 8px;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
}


/* Our Popular Tours section */
.popular-tour-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: center;
}

.popular-tour-container img {
    width: 100%;
}


/* Choose Your Destination Style */
.destination-container {
    text-align: center;
    margin: 80px 0;
}

.tour-place-container {
    margin: 24px 0;
    display: grid;
    gap: 24px;
    justify-content: center;
}

.places {
    display: flex;
    gap: 24px;
}

.places div {
    margin: 0;
}

.places img {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}

.tour-place-caption {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 800;
    position: relative;
    top: -50%;
}


/* why-choose-us Section */
.section-sub-container {
    text-align: center;
    margin: 0 auto;
}

.why-choose-us-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
}

.why-choose-us-card-container .card {
    padding: 32px;
    border-radius: 16px;
}

.why-choose-us-card-container .card img {
    width: 64px;
    margin-bottom: 32px;
}

.why-choose-us-card-container .card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.why-choose-us-card-container .card:nth-child(2n-1) {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.why-choose-us-card-container .card:nth-child(2n) {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.row {
    width: 100%;
    margin-left: 50%
}



/* deals-discount-section Style */
.deals-discount-section {
    margin: 80px 0;
}

.deals-discount-section .deals-discount-card-container:nth-child(2n) {
    background-image: url('./Images/deals-discount1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-bottom: 56px;
    padding-right: 56px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: end;
    margin-bottom: 1.5rem;
}

.deals-discount-section .deals-discount-card-container:nth-child(2n - 1) {
    background-image: url('./Images/deals-discount2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-bottom: 56px;
    padding-left: 56px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    margin-bottom: 1.5rem;
}

/* .deals-discount-card-container {
    background-image: url('./Images/deals-discount1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-bottom: 56px;
    padding-right: 56px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: end;
    margin-bottom: 1.5rem;
} */

.deals-discount-card {
    border-radius: 16px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    width: calc(100% - 60%);

}


.hotel-details {
    display: flex;
    gap: 24px;
    margin-bottom: 26px;
}

.hotel-price {
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 24px;
}



/* perfect-place-section Style */
.perfect-place-section {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 40px;
    justify-content: space-between;
    /* text-align: center; */
    margin: 0 auto;
}

.perfect-place-section li {
    color: #131318;
    font-weight: 700;
}

.youtube-video {
    width: 610px;
    height: 424px;
    border-radius: 12px;
}

/* newsletter-section Style */
.newsletter-section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 24px;
    margin: 100px auto;
}

.subscribe-form {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.subscribe-form input {
    padding: 16px 20px;
    width: 90%;
    margin-bottom: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
}

.subscribe-form .btn-primary {
    width: 100%;
    font-size: 1.25rem;
}

.newsletter-section-img {
    position: relative;
}

.subscribe-offer {
    border-radius: 16px;
    background: #FF5400;
    color: #fff;
    padding: 20px 30px;
    width: 250px;
    text-align: center;
    position: absolute;
    transform: rotate(-19.628deg);
    bottom: 55px;
    right: 8px;
}

.subscribe-offer p {
    font-size: 1.5rem;
    font-weight: 400;
}

.subscribe-offer-title {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}


/* Footer Section Style */
.footer-section {
    background-color: rgba(19, 19, 24, 0.05);
    padding: 110px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-section .brand-name {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.social-icon {
    margin: 30px 0 50px;
}

.social-icon a {
    color: #131318;
    font-size: 1.5rem;
    margin-left: 30px;
}

.footer-section hr {
    width: 812px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid rgba(19, 19, 24, 0.10);
}

.all-right-reserved {
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 50px;
}